.header{
    width: 100%;
    height: 10vh;   
    border:dotted 2px white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 3.5rem;
    font-family: monospace;
    letter-spacing: 1.3px;
    color: #1DA1F2;
}